*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
}


h2 {
    text-transform: uppercase;
    font-size: 2.6em;
    letter-spacing: .1em;
}
h3 {
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: .1em;
}
hr {
    width: 8%;
    border: 2px solid black;
    margin: 20px auto;
    opacity: .2;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    
}
.col {
    width: 25%;
}
.btn {
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 15px 50px;    
}





/*********** Header Area **************/

.header-area {
    background-color: #86509C;
    height: 90vh;
    padding: 5vh 0;
}

.header-menu li {
    display: inline;
    margin-left: 10px;
} 
.header-menu a {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
    transition: .2s;
}
.header-area .header-menu .active a {
    background-color: #643A79;
}
.header-area .header-menu a:hover {
    background-color: #643A79;
}
.header-area .call-action {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.call-action h1 {
    color: #fff;
    font-size: 2.6em;
    margin-bottom: 70px;
}
.call-action .btn {
    color: #fff;
    background-color: #EB7D4C;
    border-bottom: 4px solid #C56943;
    transition: .2s; 
}
.call-action .btn:hover {
    background-color: #C56943;
    border-bottom: 4px solid #C56943;
}

/************* Service Area ****************/

.service-area {
    background-color: #18C2A5;
    text-align: center;
    padding: 150px 0;
    color: #fff;
}
.service-intro p {
    font-size: 1.2em;
    width: 75%;
    margin: 20px auto;
}
.service-area img {
    width: 110px;
    height: 110px;
}
.services {
    padding-top: 50px;
}
.services h3 {
    margin: 30px 0 20px;
}






/*************************** Team Area ******************/



.team-area {
    background-color: #E7F2F8;
    text-align: center;
    padding: 150px 0;
    color: #3C4860;
}
.teams .col {
    width: 18%;
}
.team-intro p {
    font-size: 1.2em;
    width: 75%;
    margin: 20px auto;
}
.teams h3 {
    color: #26273C;
}
.teams h4 {
    text-transform: capitalize;
    color: #30BAE8;
    font-weight: 600;
}
.teams img {
    width: 150px;
    border-radius: 50%;
    margin: 50px 0;
}
.teams .social-links {
    margin: 25px 0;
}
.social-links i {
    color: #8492ad;
    font-size: 1.7em;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.social-links i:hover {
    color: #30BAE8;
}





/* *********************** Skill Area ***************************** */


.skill-area {
    text-align: center;
    color: #3C4860;
    padding: 150px 0;
}
.skill-intro p {
    font-size: 1.2em;
    width: 75%;
    margin: 20px auto;
}
.skills {
    padding-top: 50px;
}
.skills h3 {
    font-size: 1.5em;
    letter-spacing: normal;
    margin: 20px 0;
}
.skills img {
    width: 150px;
}
.skills .col {
    position: relative;
}
.skills span {
    font-size: 45px;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-49%, -50%);
}





/* ************************* Portfolio Area ****************************** */

.portfolio-area {
    text-align: center;
    background-color: #FFDC98;
    padding: 150px 0;
}
.portfolio-intro {
    padding-bottom: 30px;
}
.portfolio-intro h2 {
    color: #383A39;
}
.portfolio-intro p {
    color: #383A39;
    font-size: 1.2em;
    width: 75%;
    margin: 20px auto;
}
.portfolios img {
    width: 100%;
}
.portfolios .col {
    width: 45%;
}
.portfolio-menu li {
    display: inline;
    margin-left: 15px;
} 
.portfolio-menu a {
    display: inline-block;
    text-transform: uppercase;
    color: #383A39;
    background-color: #EBC884;
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 3px;
    transition: .2s;
}
.portfolio-area .portfolio-menu a:hover {
    color: #18C2A5;
    background-color: #fff;
}
.portfolio-area .portfolio-menu .active a {
    background-color: #fff;
}
.portfolios {
    margin: 80px 0;
}
.portfolios h5 {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 400;
    color: #383A39;
    margin: 20px 0 40px;
}
.portfolio-area .btn {
    background-color: #18C2A5;
    border-bottom: 4px solid #14A58C;
    transition: .2s;
}
.portfolio-area .btn:hover {
    background-color: #14A58C;
}







/* ******************* About Area ************************** */

.about-area {
    background-color: #D74681;
    padding: 120px 0;
    color: #fff;
}
.about-intro {
    text-align: center;
}
.about-intro h5 {
    font-weight: 400;
    font-size: 1.4em;
}
.clients img{
    width: 80px;
    border-radius: 50%;
}
.clients {
    margin-top: 30px;
    overflow: hidden;
}
.clients .col {
    width: 45%;
    margin: 30px 0;
}
.client-img {
    width: 25%;
    float: left;
    overflow: hidden;
}
.client-bio {
    width: 75%;
    overflow: hidden;
    margin-bottom: 30px;
}
.client-bio p {
    font-style: italic;
    font-size: 1.3em;
}
.client-bio h4 {
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 15px;
}
.client-bio h5 {
    color: #FFDC98;
    font-size: 1.2em;
    font-weight: 400;
    text-transform: capitalize;
}







/* *********************** Contact Area ****************************** */

.contact-area {
    padding: 100px 0;
    text-align: center;
    background-color: #3C549A;
    overflow: hidden;
    color: #fff;
}
.contact-area .container {
    width: 60%;
}
.contact-intro p {
    font-size: 1.2em;
    width: 75%;
    margin: 20px auto;
}
.contact-form {
    padding: 30px 0;
}
.contact-form input[type="text"] {
    margin-right: 4%;
    float: left;
}
.contact-form input[type="text"],
.contact-form input[type="email"] {
    width: 48%;
    display: block;
    box-sizing: border-box;
    background: #273a72;
    border: none;
    color: #fff;
    padding: 2%;
    border-radius: 3px;
}
.contact-form textarea {
    overflow: hidden;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0;
    background: #273a72;
    border: none;
    color: #fff;
    padding: 2%;
    min-height: 150px;
    margin-bottom: 50px;
    border-radius: 3px;
}
.contact-form .btn {
    background-color: #30BAE8;
    border: none;
    border-bottom: 4px solid #299EC5;
    cursor: pointer;
    transition: .2s;
}
.contact-form .btn:hover {
    background-color: #299EC5;
}






/* ************************ Footer Area *************************** */

.footer-area {
    padding: 30px 0 20px;
    background-color: #344B8E;
    text-align: center;
}
.footer-area .container {
    width: 70%;
}
.footer-area .flex-container {
    justify-content: space-around;
}
.footer-area .link {
    color: #fff;
    font-weight: 600;
    font-size: 1.4em;
    text-transform: capitalize;
    transition: .2s;
    margin-bottom: 10px;
}
.footer-area .link:hover {
    color: #31BAE8;
}





















